:root {
    --clr-background: #141414;
    --clr-card: #1f1f1f;
    --clr-accent: #c2eb3a;
    --clr-options: #333333;

    --ff-family: 'Inter',sans-serif;
    

    --fw-bold: 700;
    --fw-semibold: 600;
    --fw-regular: 400;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}



main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-background);
    font-family: var(--ff-family);
    padding: 25px;
}

.social-card-container{
    background-color: var(--clr-card);
    color: white;
    border-radius: 10px;
    margin: 25px;
    width: 100%;
    max-width: 22rem;
}

.author-information {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.city {
    color: var(--clr-accent);
    font-size: 0.875rem;
    font-weight: var(--fw-semibold);
}

.links {
    list-style: none;
    text-decoration: none;
}

.links > li > a {
    margin: 14px 24px;
    background-color: var(--clr-options);
    padding: 16px;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-weight: var(--fw-semibold);
    font-size: 0.875rem;
}

.links > li> a:hover {
    background-color: var(--clr-accent);
    color: black;
    cursor: pointer;
}

.quote {
    font-weight: var(--fw-regular);
    color: #f2f2f2;
    font-size: 0.875rem;
    opacity: 75%;
}
